@import '/src/styles/base';
@import '/src/styles/reset';

@import '/src/components/global/DashboardHeader/dashboardHeader';
@import '/src/components/global/Sidenav/sidenav';
@import '/src/components/layouts/LoginLayout/loginLayout';
@import '/src/components/interface/Input/input';
@import '/src/components/interface/Button/button';
@import '/src/components/interface/LoadingDots/loadingDots';

@import '/src/pages/Login/login';